<p>Create Athlete</p>

<div class="row">
  <div class="link-column">
    <a class="btn btn-primary" routerLink="/athlete-list">Athlete List</a>
  </div>
</div>

<div class="container">
  <form [formGroup]="athleteForm" (ngSubmit)="createAthlete()">
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" formControlName="name" required /><br>
      <label for="surname">Surname:</label>
      <input type="text" class="form-control" formControlName="surname" required /><br>
      <label for="email">Email:</label>
      <input type="text" class="form-control" formControlName="email" required /><br>
      <label for="mobile">Mobile Phone:</label>
      <input type="text" class="form-control" formControlName="mobile" required /><br>
      <label for="height">Height:</label>
      <input type="number" class="form-control" formControlName="height" required /><br>
      <label for="weight">Weight:</label>
      <input type="number" class="form-control" formControlName="weight" required /><br>
      <select formControlName="gender">
        <option value='' disabled selected>Gender</option>
        <option *ngFor="let gender of genderEnum" [value]="gender"> {{gender}} </option>
      </select>
      <select formControlName="dominantSide">
        <option value='' disabled selected>Dominant Side</option>
        <option *ngFor="let side of dominantSideEnum" [value]="side"> {{side}} </option>
      </select>
      <select formControlName="physioId">
        <option value='' disabled selected>Physioterapist</option>
        <option *ngFor="let physio of physioList" [value]="physio.id"> {{physio.name}} {{physio.surname}} </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>