<p>Physio List</p>

<div class="row">
    <div class="link-column">
        <a class="btn btn-primary" routerLink="/">Home</a>
    </div>
    <div class="link-column">
        <a class="btn btn-primary" routerLink="/physio-create">Create Physio</a>
    </div>
</div>

<div class="container">
    <table>
        <tr>
            <th>Id</th>
            <th>Name & Surname</th>
            <th>Email</th>
            <th>Mobile Phone</th>
        </tr>
        <tr *ngFor="let physio of physios">
            <td>
                {{physio.id}}
                <!--<a [routerLink]="['/edit', physio.id]">{{physio.id}}</a>-->
            </td>
            <td>
                {{physio.name}} {{physio.surname}}
            </td>
            <td>
                {{physio.email}}
            </td>
            <td>
                {{physio.mobile}}
            </td>
        </tr>
    </table>
</div>