.tile-image {
    width:100%;
    height: auto;
  }

  .iss-table-button-container {
    padding-bottom: 15px;
    float: right;
  }

  .iss-table-button {
    margin-left: 5px;
    margin-right: 5px;
  }