<div class="login-container">
  <div class="login-box">
    <form [formGroup]="form">
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <mat-form-field fxFlex="100">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            formControlName="email"
            required
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <mat-form-field fxFlex="100">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            formControlName="password"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-buttons">
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
