.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
  
  .login-box {
    width: 40vw;
    padding: 3vw;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-buttons {
    align-items: center;
    button {
      width: 100%;
    }
  }